package {{invokerPackage}};

{{#imports}}import {{import}};
{{/imports}}

import javax.ws.rs.*;
import javax.ws.rs.core.Response;

import io.swagger.annotations.*;

{{#returnContainer}}
    {{#isMapContainer}}
import java.util.Map;
import java.util.HashMap;
    {{/isMapContainer}}

    {{#isListContainer}}
import java.util.List;
import java.util.ArrayList;
    {{/isListContainer}}
{{/returnContainer}}

{{#useBeanValidation}}
import javax.validation.constraints.*;
{{/useBeanValidation}}

import org.osgi.service.component.annotations.Component;

@Component(
    immediate = true,
    property = "osgi.jaxrs.resource.base=/{{{baseName}}}",
    service = Object.class
)
public class {{classname}}Impl  implements {{classname}} {
{{#operations}}
{{#operation}}

    @Override
    {{>operationReturnType}} {{nickname}}({{#allParams}}{{>queryParams}}{{>pathParams}}{{>headerParams}}{{>bodyParams}}{{>formParams}}{{#hasMore}},{{/hasMore}}{{/allParams}}) {
        // return empty response
    {{#returnType}}
        return {{>operationEmptyReturn}};
    {{/returnType}}
    }

{{/operation}}
}
{{/operations}}

