package {{invokerPackage}};

import javax.ws.rs.ApplicationPath;
import javax.ws.rs.core.Application;

@ApplicationPath("/{{{basePath}}}")
public class RestApplication extends Application {

    @Override
    Set<Class<?>> getClasses() {


        return Stream.of(
        {{#apiInfo}}
        {{#apis}}
            {{classname}}.class{{#comma}},{{/comma}}
        {{/apis}}
        {{/apiInfo}}
        ).collect(toSet());

    }
}
