package {{invokerPackage}};

import javax.ws.rs.ApplicationPath;
import javax.ws.rs.core.Application;

@ApplicationPath("/{{{basePath}}}")
public class RestApplication extends Application {

    @Override
    Set<Class<?>> getClasses() {
    {{#classNames}}
        return Stream.of({{className}}.class{{#comma}},{{/comma}}).collect(toSet());
    {{/classNames}}
    }
}
